<a href="/">&lt;- Back to Everything</a>
<h1>All Albums</h1>

<ul>
  <% @albums.each do |album| %>
  	<% album_id = album['id'] %>
    <li><a href="/albums/<%= album['id'] %>"><%= album['title'] %> ()</a></li>
  <% end %>
</ul>

<form action="/albums" method="post">
  <h3>New Album</h3>
  <label>Album Title:</label>
  <input name="title" type="text" />
  <button>Create Album</button>
</form>
